<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 1000px;">
    <div>
        <button type="button" class="btn btn-primary btn-lg">Novo</button>
    </div>
    <h1 class="m-4" for="pessoas">Lista de Logins</h1>
    <br>
    <div class="row">
        <div class="mx auto col-sm-4" *ngFor="let result of results | async">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem ;">
                <div class="card-body">
                    <h5 class="card-title">ID: {{ result.id }}</h5>
                    <h5 class="card-title">Usuario: {{ result.user}}</h5>
                    <h5 class="card-title">Perfil: {{ result.id_perfil}}</h5>
                    <h5 class="card-title">ID-pessoa: {{ result.id_pessoa}}</h5>
                    <h5 class="card-title">Senha: {{ result.password}}</h5>
                    <h5 class="card-title">Pessoa: {{ result.pessoa.nome}}</h5>
                    <a href="/login" class="mr-1 btn btn-danger" (click)="apagar(result.id)">Apagar</a>
                </div>
            </div>
        </div>
    </div>
</div>
