  <div class="topo row p-2">
      <h2>Lista de Usuários</h2>
  </div>
      <a [routerLink]="['/pessoas/form']" type="button" class="btn btn-primary"> Novo Usuario </a>
  <div class="card m-4 p-4">
      <table class="table table-striped">
          <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Button</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of result">
              <td>{{p.id}}</td>
              <td>{{p.nome}}</td>
              <td>
                  <button type="button" class="btn btn-danger" (click)="apagar(p.id)" onclick="window.location.reload();" >Deletar</button>
                </td>
          </tr>
          </tbody>
      </table>
  </div>
