<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 1000px;">
    <div>
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/pessoas/form']">Novo</button>
    </div>
    <br>
    <div class="row">
        <div class="mx auto col-sm-4" *ngFor="let pessoa of pessoas | async">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem ;">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{ pessoa.id }}</h5>
                    <h5 class="card-title">Nome: {{ pessoa.nome }}</h5>
                    <a href="/pessoas" class="mr-1 btn btn-danger" (click)="apagar(pessoa.id)">Apagar</a>
                </div>
            </div>
        </div>
    </div>
</div>
