<div class="col-xs-12" style="height:50px;"></div>
<div class=mx-auto style="width:400px;">
    <form #f="ngForm" (ngSubmit)="salvar(recurso)">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id">ID</label>
                <input type="email" class="form-control" id="Id" placeholder="id" name="id" [(ngModel)]="recurso.id">
                <br>
                <label for="Nome">Descrição</label>
                <input type="email" class="form-control" id="Descricao" placeholder="descricao" name="descricao" [(ngModel)]="recurso.descricao">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>