<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 1000px;">
    <div>
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/recursos/form']">Novo</button>
    </div>
    <h1 class="m-4" for="recursos">Lista de Recursos</h1>
    <br>
    <div class="row">
        <div class="mx auto col-sm-4" *ngFor="let recurso of recursos | async">
            <div class="card" style="width: 18rem ;">
                <img src="https://picsum.photos/200/50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{ recurso.descricao }}</h5>
                    <!-- <p class="card-text">testetetstetstetestetsetstetestetstetsetste</p> -->
                    <a href="#" class="mr-1 btn btn-primary">Visualizar</a>
                    <a href="/recursos" class="mr-1 btn btn-danger" (click)="apagar(recurso.id)">Apagar</a>
                </div>
            </div>
        </div>
    </div>
</div>
