<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 400px;">
<form #f="ngForm" (ngSubmit)="salvar(grupo)">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Nome">ID grupo</label>
            <input type="number" class="form-control" id="Id" placeholder="id" name="id" [(ngModel)]="grupo.id">
            <br>
            <label for="Nome">Nome grupo</label>
            <input type="text" class="form-control" placeholder="nome" name="nome" id="nome" [(ngModel)]="grupo.nome">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>
