<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 400px;">
<form #f="ngForm" (ngSubmit)="Salvar(anotacao)">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Nome">ID</label>
            <input type="number" class="form-control" id="Id" placeholder="id" name="id" [(ngModel)]="anotacao.id">
            <br>
            <label for="Obs">Observação</label>
            <input type="text" class="form-control" placeholder="Observação" name="obs" id="obs" [(ngModel)]="anotacao.obs">
            <br>
            <label for="data">Data</label>
            <input type="date" class="form-control" placeholder="data" name="data" id="data" [(ngModel)]="anotacao.data">
            <br>
            <label for="id_grupo">id de grupo</label>
            <input type="number" class="form-control" placeholder="id de grupo" name="id_grupo" id="id_grupo" [(ngModel)]="anotacao.id_grupo">
            <br>
            <label for="id_pessoa">id de pessoa</label>
            <input type="number" class="form-control" placeholder="id de pessoa" name="id_pessoa" id="id_pessoa" [(ngModel)]="anotacao.id_pessoa">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>

