<div class="topo row p-2">
  <h2>Lista de Usuários</h2>
</div>
  <div class="m-2">
      <a href="file:///C:/Users/Marki/sistema/AtividadeFront/add.html"><button type="button" class="btn btn-primary">Adicionar Novo</button></a>
  </div>
<div class="card m-4 p-4">
  <table class="table table-striped">
      <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">papel</th>
          <th scope="col">semestre</th>
          <th scope="col">ano</th>
          <th scope="col">id_grupo</th>
          <th scope="col">id_pessoa</th>
          <th scope="col">Button</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of result">
          <td>{{p.id}}</td>
          <td>{{p.papel}}</td>
          <td>{{p.semestre}}</td>
          <td>{{p.ano}}</td>
          <td>{{p.id_grupo}}</td>
          <td>{{p.id_pessoa}}</td>
          <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Deletar</button>
            </td>
      </tr>
      </tbody>
  </table>
</div>
